* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
body {
	background-color: lightgrey;
}

.main-body{
	max-width: 1080px;
	background-color: white;
	padding: 15px;
	margin: 20px auto;
	overflow: hidden;
}

header{
	background-color: crimson;
	color: white;
	padding: 20px;
}

header{
	font-size: 38px;
}

.navigasi ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: darkorange;
	font-size: 20px;
	font-weight: bold;
}

.navigasi li {
	float: left;
}

.navigasi li a {
	color: white;
	text-align: center;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}

.navigasi li a:hover{
	background-color: red;
	transition-duration: 2s;
}

.banner{
	margin-bottom: 15px;
}

.banner img{
	width: 100%;
	display: block;
}

footer{
	background-color: crimson;
	color: white;
	padding: 15px;
	text-align: center;
	clear: both;
}

.left-sidebar {
	width: 250px;
	margin-right: 10px;
	float: left;
}

.card{
	border: 1px solid grey;
	padding: 10px;
	margin-bottom: 15px;
}

.card h3{
	background-color: crimson;
	color: white;
	text-align: center;
	padding: 10px;
	margin-bottom: 12px;
}

.card img {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.tombol {
	text-decoration: none;
	padding: 10px;
	width: 120px;
	color: white;
	text-align: center;
	display: block;
	margin-top: 12px;
	border-radius: 5px;
}

.tombol-pesan {
	background-color: green;
}

.tombol-pesan:hover {
	background-color: darkorange;
	transition-duration: ls;
}

.main-content {
	width: 530px;
	margin-right: 10px;
	float: left;
}

.tombol-selengkapnya {
	background-color: darkorange;
}

.tombol-selengkapnya:hover{
	background-color: green;
	transition-duration: 1s;
}

.right-sidebar {
	width: 250px;
	float: left;
}

.right-sidebar img {
	width: 100%;
	display: block;
	margin-bottom: 12px;
}

.card h4 {
	font-weight: blod;
	text-align: center;
}

.card ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.card li a {
	color: black;
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
}

.card li a:hover {
	color: red;
	transition-duration: 2s;
}

.card ul hr {
	margin-bottom: 10px;
}

.card h6 {
	color: grey;
	text-align: right;
	margin-bottom: 12px;
}